<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<EbayEnterprise_Affiliate>
			<version>1.0.0.0</version>
		</EbayEnterprise_Affiliate>
	</modules>
	<global>
		<models>
			<eems_affiliate>
				<class>EbayEnterprise_Affiliate_Model</class>
			</eems_affiliate>
		</models>
		<helpers>
			<eems_affiliate>
				<class>EbayEnterprise_Affiliate_Helper</class>
			</eems_affiliate>
		</helpers>
		<blocks>
			<eems_affiliate>
				<class>EbayEnterprise_Affiliate_Block</class>
			</eems_affiliate>
		</blocks>
	</global>
	<crontab>
		<jobs>
			<eems_affiliate_generate_product_feed>
				<run>
					<model>eems_affiliate/observer::createProductFeed</model>
				</run>
			</eems_affiliate_generate_product_feed>
			<eems_affiliate_generate_corrected_order_feed>
				<schedule><cron_expr>* */3 * * *</cron_expr></schedule>
				<run>
					<model>eems_affiliate/observer::createCorrectedOrdersFeed</model>
				</run>
			</eems_affiliate_generate_corrected_order_feed>
		</jobs>
	</crontab>
	<default>
		<marketing_solutions>
			<eems_affiliate>
				<active>0</active>
				<beacon_url>https://t.pepperjamnetwork.com/track</beacon_url>
				<export_path>var/export/eems_affiliate/</export_path>
				<int>ITEMIZED</int>
				<itemized_orders>1</itemized_orders>
				<program_id></program_id>
				<transaction_type>1</transaction_type>
				<feeds>
					<callback_mappings>
						<program_id>
							<class>eems_affiliate/map</class>
							<method>getProgramId</method>
							<type>helper</type>
							<column_name>PID</column_name>
						</program_id>
						<order_id>
							<class>eems_affiliate/map_order</class>
							<method>getOrderId</method>
							<type>helper</type>
							<column_name>OID</column_name>
							<params>
								<format>%.50s</format>
							</params>
						</order_id>
						<item_order_id>
							<class>eems_affiliate/map_order</class>
							<method>getItemOrderId</method>
							<type>helper</type>
							<column_name>OID</column_name>
							<params>
								<format>%.50s</format>
							</params>
						</item_order_id>
						<item_id>
							<class>eems_affiliate/map_order</class>
							<method>getItemId</method>
							<type>helper</type>
							<column_name>ITEMID</column_name>
							<params>
								<format>%.50s</format>
								<key>sku</key>
							</params>
						</item_id>
						<row_total>
							<class>eems_affiliate/map_order</class>
							<method>getRowTotal</method>
							<type>helper</type>
							<column_name>TOTALAMOUNT</column_name>
							<params>
								<format>%.2f</format>
							</params>
						</row_total>
						<item_quantity>
							<class>eems_affiliate/map_order</class>
							<method>getItemQuantity</method>
							<type>helper</type>
							<column_name>QUANTITY</column_name>
						</item_quantity>
						<order_amount>
							<class>eems_affiliate/map_order</class>
							<method>getOrderAmount</method>
							<type>helper</type>
							<column_name>AMOUNT</column_name>
							<params>
								<format>%.2f</format>
							</params>
						</order_amount>
						<reason>
							<class>eems_affiliate/map</class>
							<method>passStatic</method>
							<type>helper</type>
							<column_name>REASON</column_name>
							<params>
								<value>8</value>
							</params>
						</reason>
						<transaction_type>
							<class>eems_affiliate/map_order</class>
							<method>getTransactionType</method>
							<type>helper</type>
							<column_name>TYPE</column_name>
						</transaction_type>
						<age_range>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>age_range</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</age_range>
						<artist>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>artist</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</artist>
						<aspect_ratio>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>aspect_ratio</column_name>
							<params>
								<format>%.16s</format>
							</params>
						</aspect_ratio>
						<author>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>author</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</author>
						<battery_life>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>battery_life</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</battery_life>
						<binding>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>binding</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</binding>
						<buy_url>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>buy_url</column_name>
							<params>
								<key>product_url</key>
								<format>%.2000s</format>
							</params>
						</buy_url>
						<category_network>
							<class>eems_affiliate/map_product</class>
							<method>getCategory</method>
							<type>helper</type>
							<column_name>category_network</column_name>
							<params>
								<format>%.256s</format>
							</params>
						</category_network>
						<category_program>
							<class>eems_affiliate/map_product</class>
							<method>getCategory</method>
							<type>helper</type>
							<column_name>category_program</column_name>
							<params>
								<format>%.256s</format>
							</params>
						</category_program>
						<color>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>color</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</color>
						<color_output>
							<class>eems_affiliate/map</class>
							<method>getValueYesNo</method>
							<type>helper</type>
							<column_name>color_output</column_name>
							<params>
								<format>%s</format>
							</params>
						</color_output>
						<condition>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>condition</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</condition>
						<description_long>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>description_long</column_name>
							<params>
								<format>%.2000s</format>
							</params>
						</description_long>
						<description_short>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>description_short</column_name>
							<params>
								<format>%.512s</format>
							</params>
						</description_short>
						<director>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>director</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</director>
						<discontinued>
							<class>eems_affiliate/map</class>
							<method>getValueYesNo</method>
							<type>helper</type>
							<column_name>discontinued</column_name>
							<params>
								<format>%s</format>
							</params>
						</discontinued>
						<display_type>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>display_type</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</display_type>
						<edition>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>edition</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</edition>
						<expiration_date>
							<class>eems_affiliate/map</class>
							<method>getDateValue</method>
							<type>helper</type>
							<column_name>expiration_date</column_name>
							<params>
								<format>Y-m-d</format>
							</params>
						</expiration_date>
						<features>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>features</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</features>
						<focus_type>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>focus_type</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</focus_type>
						<format>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>format</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</format>
						<functions>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>functions</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</functions>
						<genre>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>genre</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</genre>
						<heel_height>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>heel_height</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</heel_height>
						<height>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>height</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</height>
						<image_thumb_url>
							<class>eems_affiliate/map_product</class>
							<method>getImageUrl</method>
							<type>helper</type>
							<column_name>image_thumb_url</column_name>
							<params>
								<format>%.2000s</format>
							</params>
						</image_thumb_url>
						<image_url>
							<class>eems_affiliate/map_product</class>
							<method>getImageUrl</method>
							<type>helper</type>
							<column_name>image_url</column_name>
							<params>
								<format>%.2000s</format>
							</params>
						</image_url>
						<installation>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>installation</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</installation>
						<in_stock>
							<class>eems_affiliate/map_product</class>
							<method>getInStockYesNo</method>
							<type>helper</type>
							<column_name>in_stock</column_name>
							<params>
								<format>%s</format>
							</params>
						</in_stock>
						<isbn>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>isbn</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</isbn>
						<keywords>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>keywords</column_name>
							<params>
								<format>%.256s</format>
							</params>
						</keywords>
						<length>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>length</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</length>
						<load_type>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>load_type</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</load_type>
						<location>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>location</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</location>
						<made_in>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>made_in</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</made_in>
						<manufacturer>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>manufacturer</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</manufacturer>
						<material>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>material</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</material>
						<megapixels>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>megapixels</column_name>
							<params>
								<format>%01.2f</format>
							</params>
						</megapixels>
						<memory_capacity>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>memory_capacity</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</memory_capacity>
						<memory_card_slot>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>memory_card_slot</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</memory_card_slot>
						<memory_type>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>memory_type</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</memory_type>
						<model_number>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>model_number</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</model_number>
						<mpn>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>mpn</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</mpn>
						<name>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>name</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</name>
						<occasion>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>occasion</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</occasion>
						<operating_system>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>operating_system</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</operating_system>
						<optical_drive>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>optical_drive</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</optical_drive>
						<pages>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>pages</column_name>
							<params>
								<format>%.11d</format>
							</params>
						</pages>
						<payment_accepted>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>payment_accepted</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</payment_accepted>
						<payment_notes>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>payment_notes</column_name>
							<params>
								<format>%.256s</format>
							</params>
						</payment_notes>
						<platform>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>platform</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</platform>
						<price>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>price</column_name>
							<params>
								<format>%01.2f</format>
							</params>
						</price>
						<price_retail>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>price_retail</column_name>
							<params>
								<format>%01.2f</format>
							</params>
						</price_retail>
						<price_sale>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>price_sale</column_name>
							<params>
								<format>%01.2f</format>
							</params>
						</price_sale>
						<price_shipping>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>price_shipping</column_name>
							<params>
								<format>%01.2f</format>
							</params>
						</price_shipping>
						<processor>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>processor</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</processor>
						<publisher>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>publisher</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</publisher>
						<quantity_in_stock>
							<class>eems_affiliate/map_product</class>
							<method>getInStockQty</method>
							<type>helper</type>
							<column_name>quantity_in_stock</column_name>
							<params>
								<format>%.11d</format>
							</params>
						</quantity_in_stock>
						<rating>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>rating</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</rating>
						<recommended_usage>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>recommended_usage</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</recommended_usage>
						<resolution>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>resolution</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</resolution>
						<screen_size>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>screen_size</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</screen_size>
						<shipping_method>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>shipping_method</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</shipping_method>
						<shoe_size>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>shoe_size</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</shoe_size>
						<shoe_width>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>shoe_width</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</shoe_width>
						<size>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>size</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</size>
						<sku>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>sku</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</sku>
						<staring>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>staring</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</staring>
						<style>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>style</column_name>
							<params>
								<format>%.64s</format>
							</params>
						</style>
						<tech_spec_url>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>tech_spec_url</column_name>
							<params>
								<format>%.2000s</format>
							</params>
						</tech_spec_url>
						<tracks>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>tracks</column_name>
							<params>
								<format>%.11d</format>
							</params>
						</tracks>
						<upc>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>upc</column_name>
							<params>
								<format>%.128s</format>
							</params>
						</upc>
						<weight>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>weight</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</weight>
						<width>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>width</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</width>
						<wireless_interface>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>wireless_interface</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</wireless_interface>
						<year>
							<class>eems_affiliate/map</class>
							<method>getYearValue</method>
							<type>helper</type>
							<column_name>year</column_name>
							<params>
								<format>%.dd</format>
							</params>
						</year>
						<zoom>
							<class>eems_affiliate/map</class>
							<method>getDataValue</method>
							<type>helper</type>
							<column_name>zoom</column_name>
							<params>
								<format>%.32s</format>
							</params>
						</zoom>
					</callback_mappings>
					<order_itemized>
						<fields>program_id,item_order_id,item_id,row_total,item_quantity,reason</fields>
						<file_name_format>%s_transactions_corrected_%s.csv</file_name_format>
					</order_itemized>
					<order_basic>
						<fields>program_id,order_amount,order_id,reason,transaction_type</fields>
						<file_name_format>%s_transactions_corrected_%s.csv</file_name_format>
					</order_basic>
					<product>
						<file_name_format>%s_product_feed.csv</file_name_format>
					</product>
				</feeds>
			</eems_affiliate>
			<eems_affiliate_product_attribute_map>
				<!--
				The purpose of this mapping is enabled the coexistence of both
				pre-configured product attributes mapping and configured attributes
				mapping for the affiliate product feed. This means that when this
				module is installed and no other attribute is configured for the
				product feed the required pre-mapped attributes will be sufficient
				enough to generate a valid product feed.
				-->
				<age_range/>
				<artist/>
				<aspect_ratio/>
				<author/>
				<battery_life/>
				<binding/>
				<buy_url>product_url</buy_url>
				<category_network/>
				<category_program>category</category_program>
				<color/>
				<color_output/>
				<condition/>
				<description_long>description</description_long>
				<description_short>short_description</description_short>
				<director/>
				<discontinued/>
				<display_type/>
				<edition/>
				<expiration_date/>
				<features/>
				<focus_type/>
				<format/>
				<functions/>
				<genre/>
				<heel_height/>
				<height/>
				<image_thumb_url>thumbnail</image_thumb_url>
				<image_url>image</image_url>
				<installation/>
				<in_stock/>
				<isbn/>
				<keywords>meta_keyword</keywords>
				<length/>
				<load_type/>
				<location/>
				<made_in/>
				<manufacturer>manufacturer</manufacturer>
				<material/>
				<megapixels/>
				<memory_capacity/>
				<memory_card_slot/>
				<memory_type/>
				<model_number/>
				<mpn/>
				<name>name</name>
				<occasion/>
				<operating_system/>
				<optical_drive/>
				<pages/>
				<payment_accepted/>
				<payment_notes/>
				<platform/>
				<price>price</price>
				<price_retail>msrp</price_retail>
				<price_sale>special_price</price_sale>
				<price_shipping/>
				<processor/>
				<publisher/>
				<quantity_in_stock>qty</quantity_in_stock>
				<rating/>
				<recommended_usage/>
				<resolution/>
				<screen_size/>
				<shipping_method/>
				<shoe_size/>
				<shoe_width/>
				<size/>
				<sku>sku</sku>
				<staring/>
				<style/>
				<tech_spec_url/>
				<tracks/>
				<upc/>
				<weight/>
				<width/>
				<wireless_interface/>
				<year/>
				<zoom/>
			</eems_affiliate_product_attribute_map>
		</marketing_solutions>
	</default>
	<frontend>
		<layout>
			<updates>
				<eems_affiliate>
					<file>eems_affiliate.xml</file>
				</eems_affiliate>
			</updates>
		</layout>
	</frontend>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Affiliate/>
			</modules>
		</suite>
	</phpunit>
</config>
